<footer class="block block--dark footer">
  <div class="grid constraint">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">products</h2>
        <svg class="icon icon--PureWhite collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="">Website Hosting</a></li>
          <li><a href="">Free Automated Wordpress</a></li>
          <li><a href="">Migrations</a></li>
        </ul>
      </div>
    </section>
    <!-- -------------------------- -->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">company</h2>
        <svg class="icon icon--PureWhite collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="">About</a></li>
          <li><a href="">Affiliates</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
    </section>
    <!-- -------------------------- -->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">support</h2>
        <svg class="icon icon--PureWhite collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="">Contact</a></li>
          <li><a href="">Knowledge Base</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
      </div>
    </section>
    <!-- -------------------------- -->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">domains</h2>
        <svg class="icon icon--PureWhite collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="">Domain Checker</a></li>
          <li><a href="">Domain Transfer</a></li>
          <li><a href="">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <!-- -------------------------- -->

    <div class="footer__logo">
      <img src="images/logo.svg" alt="" />
      <p>Copyright 2022 Ishak Bensadok</p>
    </div>
    <!-- -------------------------- -->
  </div>
</footer>
