<section class="block constraint feature-block">
  <header class="block__header">
    <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
    </p>
  </header>
  <article class="grid grid--1x2 feature__article">
    <div class="feature__meadia">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
          obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a class="link-arrow" href="#">Learn More</a>
      </div>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/easy.png 1x, images/easy@2x.png 2x"
      />

      <img src="images/easy.jpg" alt="" />
    </picture>
  </article>
  <!-- -------------------------------------------------------------- -->
  <article class="grid grid--1x2 feature__article">
    <div class="feature__meadia">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__heading">Simply Fast Websites</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
          obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a class="link-arrow" href="#">Learn More</a>
      </div>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/fast.png 1x, images/fast@2x.png 2x"
      />

      <img src="images/fast.jpg" alt="" />
    </picture>
  </article>
  <!-- -------------------------------------------------------------- -->
  <article class="grid grid--1x2 feature__article">
    <div class="feature__meadia">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__heading">Wordpress Made Easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
          obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a class="link-arrow" href="#">Learn More</a>
      </div>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/wordpress.png 1x, images/wordpress@2x.png 2x"
      />

      <img src="images/wordpress.jpg" alt="" />
    </picture>
  </article>
  <!-- -------------------------------------------------------------- -->
  <article class="grid grid--1x2 feature__article">
    <div class="feature__meadia">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#clock"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__heading">24/7 Expert Support</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
          obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
        </p>
        <a class="link-arrow" href="#">Learn More</a>
      </div>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/support.webp 1x, images/support@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/support.png 1x, images/support@2x.png 2x"
      />

      <img src="images/support.jpg" alt="" />
    </picture>
  </article>
  <!-- -------------------------------------------------------------- -->
</section>
