<section class="block block--dark block--skewed-left">
  <div class="block__heading constraint">
    <h2 class="block__header">Cloud Hosting for Pros</h2>
    <p>Deploy your websites in less than 60 seconds.</p>
  </div>
</section>
<!-- ---------------------------------------------- -->
<section class="block constraint">
  <div class="block__header">
    <h2 class="block__heading">Starting at $10 per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
      exercitationem?
    </p>
  </div>
</section>
