<ul class="list list--inline">
  <li class="list__item">.com $9</li>
  <li class="list__item">.sg $10</li>
  <li class="list__item">.space $11</li>
  <li class="list__item">.info $14</li>
  <li class="list__item">.net $10</li>
  <li class="list__item">.xyz $10</li>
</ul>
<ul class="list list--tickmark">
  <li class="list__item">Unlimited Websites</li>
  <li class="list__item">Unlimited Bandwidth</li>
  <li class="list__item">100 GB SSD Sotrage</li>
  <li class="list__item">3 GB RAM</li>
</ul>
