<div class="nav-bar collapsible collapsible--expanded block--dark">
  <a class="nav-bar__brand" href="/"
    ><img class="nav-bar__logo" src="images/logo.svg" alt=""
  /></a>
  <svg class="icon icon--PureWhite nav-bar__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="list__item"><a href="">Hosting</a></li>
    <li class="list__item"><a href="">Vps</a></li>
    <li class="list__item"><a href="">Domain</a></li>
    <li class="list__item"><a href="">Pricing</a></li>
  </ul>
</div>
<script src="js/main.js"></script>
