<blockquote class="quote">
  <p class="quote__paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
    ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
    facilisis.
  </p>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__heading quote__author">John Smith</h3>
      <p class="media__description">ABC Company</p>
    </div>
  </div>
</blockquote>
