<div class="card testimonial">
  <div class="grid grid--1x2">
    <!-- ---------------------------------------------------- -->

    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="A happy, smilling face" />
      <span class="icon-container icon-container--accent">
        <svg class="icon--small icon--PureWhite">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>

    <!-- ---------------------------------------------------- -->
    <blockquote class="quote">
      <p class="quote__paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt optio
        officiis dolore earum error eaque perferendis laudantium sed praesentium
        dolorum.
      </p>

      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__heading quote__author">John Smith</h3>
          <p class="author__description">ABC Company</p>
        </div>
      </div>
    </blockquote>
  </div>
</div>
